:root {
  --navbar-height: 70px;
  --navbar-height-n: -70px;
}

.bg-main-blue {
  background-color: #091242;
}

.bg-main-one {
  color: #091242;
}

.bg-main-two {
  color: #FFB629;
}

.bg-main-light {
  background-color: #f4f4f4;
}

.bg-main-blue.bg-opacity-25 {
  background-color: rgb(9, 18, 67, 0.5);
}

.header-wrapper {
  padding: 46px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.icon-wrapper {
  padding: 15px;
  background-color: #111c55;
  border: 1px solid #273270;
  border-radius: 50%;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: flex-start;
  justify-content: center;
}

.info-wrapper a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.slider-wrapper {
  margin-top: var(--navbar-height-n);
}

.navbar {
  height: var(--navbar-height);
  padding: 0;
}

.navbar-end {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar-social-media {
  display: flex;
  gap: 10px;
  margin-right: 0;
}

.navbar-social-media a {
  display: flex;
}

.navbar-quick-btn {
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 30px;
  margin-left: 30px;

}

.icon.icon-pattern {
  background-image: url('../img/icon/pattern.svg');
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider-wrapper img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.icon.icon-instagram {
  background-image: url("../img/icon/instagram.svg");
}

.icon.icon-facebook {
  background-image: url("../img/icon/facebook.svg");
}

.icon.icon-twitter {
  background-image: url("../img/icon/twitter.svg");
}

.icon.icon-linkedin {
  background-image: url("../img/icon/linkedin.svg");
}

.icon-star {
  background-image: url("../img/icon/star.svg");
}

.icon-star.active {
  background-image: url("../img/icon/star-active.svg");
}

.section-top-info {
  background-color: #E8E8E8;
  display: inline-block;
  padding: 8px 4px;
  position: relative;
}

.section-top-info::before {
  content: "";
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
  display: block;
  width: 4px;
  height: 100%;
  position: absolute;
  left: -4px;
  top: 0;
}

.feature-card {
  display: flex;
  margin-bottom: 70px;
}

.feature-card-image {
  margin-right: 40px;
}

.feature-card-image img {
  width: 76px;
  height: 50px;
}

.feature-card-info {
  border-left: 1px solid #D8D8D8;
  padding-left: 25px;
}

.feature-card-info p {
  color: #666C89;
}

.feature-card-info .title {
  color: #1C1F35;
}

.image-wrapper {
  position: relative;
}

.global-logistics-wrapper {
  background-color: #ffffff;
  position: relative;
  padding: 85px;
  margin-top: -120px;
}

.global-logistics-images {
  position: relative;
}

.img-2 {
  position: absolute;
  bottom: -35px;
  left: -40px;
  border-top: solid 40px #fff;
  border-right: solid 40px #fff;
}

.card-blog-image,
.card-blog-image img {
  width: 100%;
}

.card-blog-content {
  position: absolute;
  bottom: 0;
  padding: 65px 25px 25px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
}

.bg-slider {
  background-color: #FFB629;
  height: 300px;
  margin-top: -300px;
  position: relative;
  z-index: -1;
}

.btn-testimonial-arrow {
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  transition: all 300ms;
}

.btn-testimonial-arrow.swiper-button-disabled {
  opacity: 0.5;
}

.btn-testimonial-next {
  background-image: url("../img/icon/btn-next.svg");
}

.btn-testimonial-prev {
  background-image: url("../img/icon/btn-prev.svg");
}


//başka bir alannnn

.flaight-transport {
  position: relative;
  z-index: 1;
  left: 100px;
  padding-top: 130px;
  height: 80%;
  width: auto;
}

.tranport-wrapper {
  padding: 200px;
}

.plain-info {
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
  position: absolute;
  width: 400px;
  height: 139px;
  left: 360px;
  z-index: 2;
  color: #000;
  margin-top: -140px;
}

.team-card-blog-content {
  padding: 30px;
  background: #1C1F35;

}

.card-blog {
  width: 100%;
}

.team-info {
  background: rgb(255, 182, 41);
  position: relative;
  color: #000;
  right: 0;
  transform: translateY(-50%);

}

.filter-dark {
  fill: #000 !important;
}

.form-wrapper {
  padding: 100px 255px;
}

.form-bg {
  background-color: #091242;
}

.form-btn-submit {
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
  color: #000;
  width: 194px;
  height: 60px;
}

.form-slider {
  margin-top: -150px;
}

.form-contact {
  background: rgba(232, 232, 232, 0.1);
}


//bundan sonraki alan scss kısmı